@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

body{
    background:black;
}

.button{
    background-color:white;
    width: 190px;
    height: 120px;
    border:none;
    margin:20px 45px;
    border:1px dotted black;
    font-family: 'Lacquer', sans-serif;
    font-size: 35px;
    /* box-shadow: 10px 5px 5px red; */
}

.button:hover{
    background-color:#B53014;
}

.buttonsToClick{
   margin-top:60px;
    
    
    
}