@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

.card {
  width: 40%;
  border-radius: 3%;
  border-style: solid;
}

h1, h2 {
  font-family: 'Lacquer', sans-serif;
  text-align: center;
  font-size: 35px;
}

p, a {
  font-family: 'Lacquer', sans-serif;
  text-align: center;
}

html {
  background-color: black;
}