.troll-page {
  display: flex;
  flex-direction: column;
}

.troll-page h1 {
  color: white;
  font-family: 'Lacquer', sans-serif;
  margin: 0;
  font-size: 28px;
}

.troll-page p {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  margin: 0;
}

.gif {
  min-height: 775px;
  max-height: 775px;
  width: auto;
}
.linkCss {
  text-decoration: none;
}